@font-face{
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Regular.ttf');
  font-weight: 500;
}

html{
  height: 100%;
}

body{
  margin: 0 0 -50px;
  background-color: rgb(245, 245, 246);
  font-family: "SourceSansPro", "Arial", sans-serif;
  color: #231f20;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a{
  color: #18477B;
  text-decoration: none;
}

h1, h2, h3, h4{
  color: #00477f;
  font-weight: 500;
}

main>h1{
  display: none;
}

ul, ol{
  list-style-type: none;
}

.text-active{
  font-size: 1.5em !important;
  opacity: 0.8 !important;
  color: white !important;
}

.push-down{
  margin: -8em 0 12em !important;
}

body>header>nav{
  position: relative;
  width: 100%; 
  font-size: 0.8em;
  box-shadow: 0 1px 20px 0 rgba(35,31,32,.1);
  transition: all 0.2s;
  z-index: 999;

  >div{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;;
  }
  
  ul:first-child{
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0;

    >li:first-child{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999;

      div{
        padding: 2.1em 0 1em;

        img{
          display: block;
          height: 1.7em;
          width: initial;
          z-index: 1;
          margin: 0 auto;
        }
      } 
    }

    >li:not(:first-child) {
      display: block;
      width: 25%;
      text-align: center;
      justify-content: center;
      z-index: 999;
      padding: 1em 0;   
      margin-top: -10em;    
      background: white;
      animation: show 1s ease-out forwards;
      animation-delay: 1.5s;

      a{
        display: block;
        padding: 2.2em 0 0;
        background-position: center top;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all .2s;
      }

      a:hover{
        transform: scale(1.1);
      }
  
      img{
        width: 2em;
        height: 2em;
      }
    }
    
    li:nth-child(2) a{
      background-image: url('../images/icons/book.svg');     
    }
    li:nth-child(3) a{
      background-image: url('../images/icons/search.svg');
    }
    li:nth-child(4) a{
      background-image: url('../images/icons/read.svg');
    }
    li:nth-child(5) a{
      background-image: url('../images/icons/account.svg');
    }
  } 
  ul#breadcrumb{
    position: absolute;
    top: 5.5em;
    border-top: 1px solid #e2e2e3;
    background-color: white;
    max-width: initial;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: -10em 0;    
    padding: 0;
    background: white;
    animation: show 1s ease-out forwards;
    animation-delay: 1.5s;

    li{
      position: relative;
      display: inline-block;
      width: initial;
    }
   
    li:first-child{
      position: relative;
      padding: 1em;

      :hover{
        background-position: right 40%;
      }

      a{
        width: 2.5em;
        height: 2em;
        border-left: 1px solid #b6b6b8;
        transform: rotate(180deg);
        display: inline-block;
        color: #00477f;
        background-image: url('../images/icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: 75% 40%;
        background-size: 1.2em;
        transition: all .2s;
      }
    }
    li:last-child{
      margin-top: initial;
      animation: none;
      align-self: center;
      color: #00477f;
      line-height: 2em;
      font-size: 1em;
      font-weight: 500;
      padding: 0;
    }
  }
}

// footer
body>footer{
  position: relative;
  z-index: 998;
  background-color: white;
  padding: 1.8em 1em 2em;
  margin-top: 4em;

  div{
    display: flex;

    ul{
      justify-content: center;
      padding: 0 1.3em;
  
      li{
        padding-bottom: 0.5em;
      }
    }
  }
}

body>section{
  position: relative;
  width: 100%;

  ol{
    margin: 1em 0;
    padding: 0;
    width: 100%;
    overflow-x: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar { 
      display: none; 
    }

    li{
      margin-right: 1em;

      &:first-child{
        margin-left: 1em;
      }

      &:last-child{
        margin-right: 1em;
      }
    }
  }

  h2{
    font-size: 1.2em;
    border-radius: 4px 4px 0 0;
    margin: 1.8em 1em 1em;
    margin-top: 1.8em;

    &::after{
      display: block;
      height: 2px;
      margin: 0.3em 0 1em;
      content: '';
      width: 112px;
      padding-top: 0.2em;
    }
  }

  article{
    position: relative;
    border-radius: 4px;
    width: 18rem;
    overflow: hidden;

    a{
      >img{
        height: 10em;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

      &::after{
        position: absolute;
        content: "";
        display: block;
        border-radius: 4px 4px 0 0;
        top: -5em;
        left: 0;
        width: 100%;
        height: 10em;
        background: linear-gradient(rgba(0,0,0,100), rgba(0,0,0,0));
        z-index: 0;
      }
    }

    header{
      padding: 1em 1em;
      position: absolute;
      width: 100%;
      z-index: 2;

      h3{
        margin: 0;
        max-width: 14em;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        overflow: hidden;
        color: white;

        &::after{
          display: block;
          height: 2px;
          margin: 0.3em 0 0;
          content: '';
          border-bottom: 2px #68C6F0 solid;
          width: 112px;
          padding-top: 1em;
          margin: 0 auto;
        }
      }
    }
  }
}

.align-icon{
  margin-bottom: -0.1em;
}

.align-arrow{
  margin-bottom: -0.2em;
}

main>ul{
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; 
  overflow-y: hidden; 
  display: flex;
  flex-direction: column-reverse;
  -webkit-overflow-scrolling: touch;
  background: #231f20;
  animation: backdrop 15s ease-in-out forwards infinite;
  transition: .2s;

  // gradient
  &::after{
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30em;
    background: linear-gradient( rgba(0,0,0,0) ,rgba(0,0,0,100));
    z-index: 1;
  }

  // preview
  >li:first-child{
    position: relative;
    width: 100%;
    height: 100vh;

    >div{
      position: relative;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      // btn older stories
      >div{
        padding: 0.5em;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 998;

        >button{
          padding: 0.2em;
          background: transparent;
          border: none;
          outline: 0;  
          color: #68C6F0;
          font-weight: bold;
          line-height: 1.5em;
          font-size: 1em;
          opacity: 0.5;
          cursor: pointer;

          &:last-child{
            padding-bottom: 0;
          }
        }
      }

      &:first-child article{
        position: relative;

        header{
          position: relative;
          text-align: center;
          width: 100%;
          height: 15em;
          z-index: 2;

          h1, h2{
            position: relative;
            text-transform: uppercase;
            color: white;
            font-size: 3em;
            letter-spacing: 0.3em;
            margin: 0 0 1.2em;
            z-index: 998;

            span{
              display: inline-block;
            }

            span:nth-of-type(2){
              width: 0.75em;
              height: 0.75em;
              margin: 0 0.15em;
              background: white;
              color: transparent;
              box-sizing: border-box;
              border: 4px solid transparent;
              border-radius: 50%;
              transform: translate(-22%, 46%);
              animation: transform-title-2 15s ease-in-out alternate-reverse infinite;
            }
            span:nth-of-type(3){
              animation: transform-title-3 15s ease-in-out forwards infinite;
            }
            span:nth-of-type(4){
              animation: transform-title-4 15s ease-in-out forwards infinite;
            }
          }

          p{
            color: #68C6F0;
          }

          a{
            margin-top: 1em;
            display: inline-block;
            color: #00477f;
            padding: 10px 50px 10px 20px;
            background-color: white;
            border-radius: 4px;
            background-image: url('../images/icons/arrow.svg');
            background-repeat: no-repeat;
            background-position: 90% center;
            background-size: 1.2em;
            transition: all .2s;
          }

          a:hover{
            background-color: #D4EFFC;
            background-position: 92% center;
          }
        }
      }
    } 
  }
  
  // list stories
  >li:last-child{
    position: relative;
    width: 100%;
    padding-top: 12em;
    background-image: linear-gradient(rgba(35,31,32,20) 0%, rgba(0, 0, 0, 0) 40%);
    min-height: 28em;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;   
    box-sizing: border-box;

    &::-webkit-scrollbar { 
      display: none; 
    }

    article{
      margin-right: 1em;
      display: inline-block;

      >h2{
        color: white;
        font-size: 1.2em;
  
        &::after{
          display: block;
          height: 2px;
          margin: 0.3em 0 0;
          content: '';
          border-bottom: 2px #68C6F0 solid;
          width: 112px;
          padding-top: 0.2em;
        }
      }

      &:first-child{
        margin-left: 1em;
      }

      &:last-child{
        margin-right: 1em;
      }
    }
  }
} 

// history
section:first-of-type{
  margin-top: 1em;
  z-index: 2;

  h2{
    font-size: 1.5em;
    &::after{
      border-bottom: 2px #DB3738 solid;
    }
  }
}

// veelbesproken
section:nth-of-type(2){
  h2{
    color: #00477f;
    font-size: 1.5em;

    &::after{
      border-bottom: 2px #DB3738 solid;
    }
  }

  ol{
    margin: 0;
    padding: 0;

    li{
      ol{      
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    } 
  } 
}

.nav-up{
  top: -50px !important;
}

.list-styled{
  list-style-image: url('../images/icons/arrow.svg'); 
}

article.tile{
  position: relative;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  min-height: 26em;
  width: 18em;

  >a{
    >img{
      object-fit: cover;
      width: 100%;
      height: 22em;
      border-radius: 4px 4px 0 0;
      z-index: 1; 
      transition: .2s;
    }

    &::after{
      position: absolute;
      content: "";
      display: block;
      border-radius: 4px 4px 0 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 22em;
      background: linear-gradient(rgba(0, 157, 219, 100), rgba(0, 71, 127, 0));
      z-index: 0;
    }

    >div{
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      top: 1em;

      p{
        position: relative;
        margin: 0;
        color: white;
        white-space: normal;
        z-index: 1;
      }
      
      header{
        position: relative;
        z-index: 2; 
        margin-top: -0.2em;
    
        h3{
          margin: 0;
          padding: 1em 0;
          color: white;
          font-size: 1.2em;
  
          &::after{
            display: block;
            height: 2px;
            content: '';
            border-radius: 4px 4px 0 0;
            border-bottom: 2px #68C6F0 solid;
            width: 112px;
            padding-top: 1em;
            margin: 0 auto;
          }
        }      
      }
    }

    footer{
      position: relative;
      padding: 1em;
      background-color: white;
      border-radius: 0 0 4px 4px;
      margin-top: -0.3em;

      span{
        font-size: 0.8em;
        color: #6D6E71;
      }

      ol{
        width: 75%;
        margin: 0 auto;
        padding: 0;
        overflow: visible;
        display: flex;
        justify-content: center;
        
        li{
          margin: 0 0.2em;
          img{
            width: 1.2em;
          }
        }     
      }

      button{
        position: absolute;
        top: -1.8em;
        right: 1.5em;
        border: none;
        border-radius: 50%;
        background-color: #68C6F0;
        height: 3.2em;
        width: 3.2em;
        cursor: pointer;
        z-index: 3;
        transition: all .2s;

        &:hover{
          transform: scale(1.1);
        }
        
        img{
          width: 1.2em;
          padding-top: 0.6em;
        }                 
      }
    }
  }      
}   

article.tile--compact{
  min-height: 10em;

  >h2{
    position: absolute;
    top: -3.5em;
  }

  >a { 
    >img{
      height: 10em;
    }

    &::after{
      position: absolute;
      content: "";
      display: block;
      border-radius: 4px 4px 0 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 10em;
      background: linear-gradient(rgba(0, 157, 219, 100), rgba(0, 71, 127, 0));
      z-index: 0;
    }
  }
}

#story-container{
  position: relative;
  padding: 12em 8% 4em;

  button{
    position: fixed;
    top: 6.3rem;
    right: 1rem;
    z-index: 999;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 20px 0 rgba(35,31,32,.1);
    background-image: url('../images/icons/readlist-not-added.svg');
    background-repeat: no-repeat;
    background-color: #68C6F0;
    background-position: center center;
    background-size: 40%;
    outline: none;
    transition: all .2s;

    &:hover{
      transform: scale(1.1);
      background-image: url('../images/icons/add-readlist.svg');
      background-color: #FFDB00;
    }
  }

  .sticky-button{
    position: absolute;
    top: initial;
    bottom: -1.5rem;
    z-index: 998;
  }

  header{
    position: relative;
    margin-top: 4em;
    text-align: center;
    width: 100%;
    z-index: 2;

    h1{
      position: relative;
      text-transform: uppercase;
      margin: 0;
      color: white;
      font-size: 3em;
      letter-spacing: 0.3em;
      z-index: 998;

      span{
        display: inline-flex;
        font-family: 'Source Code Pro', monospace;  
        align-self: center;
        justify-content: center;  
      }

      span:nth-of-type(2){
        width: 0.75em;
        height: 0.75em;
        margin: 0 0.15em;
        background: white;
        color: transparent;
        box-sizing: border-box;
        border: 4px solid transparent;
        border-radius: 50%;
        transform: translate(-22%, 46%);
        animation: transform-title-2 15s ease-in-out alternate-reverse infinite;
      }
      span:nth-of-type(3){
        animation: transform-title-3 15s ease-in-out forwards infinite;
      }
      span:nth-of-type(4){
        animation: transform-title-4 15s ease-in-out forwards infinite;
      }
    }

    h2{
      color: #68C6F0;
      font-weight: normal;
      font-size: 1.2em;
      margin: 2em 0;
    }

    a{
      margin-top: 1em;
      display: inline-block;
      color: #00477f;
      padding: 10px 50px 10px 20px;
      background-color: white;
      border-radius: 4px;
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
      background-position: 90% center;
      background-size: 1.2em;
      transition: all .2s;

    }

    a:hover{
      background-color: #D4EFFC;
      background-position: 92% center;
    }
  }

  &::before{
    position: fixed;
    content: "";
    display: block;
    border-radius: 4px 4px 0 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #231f20;
    animation: backdrop 15s ease-in-out forwards infinite;

    z-index: -1;
  }

  &::after{
    position: fixed;
    content: "";
    display: block;
    border-radius: 4px 4px 0 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,100));
    z-index: 0;
  }

  p{
    padding-top: 3em;
    text-align: center;
    border-top: 4px solid white;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    z-index: 1;
    word-break: break-all;

    span{
      position: relative;
      z-index: 1;
      text-transform: uppercase;  
      color: white;
      font-size: 1.8rem;
      letter-spacing: 0.3em;

      div{
        display: inline;
      }
    }
  }
}

#story-preview{
  position: absolute;
  z-index: 1;
  top: 10em;
  left: 0;
  width: 100%;
  height: 80vh;

  div.bar{
    position: absolute; 
    background: white;
    width: 0;
    height: 0;
    transform: translate(-50%, 0);
    animation: spin 10s ease-in-out forwards infinite, transform-dot 3s ease-in-out forwards infinite;
  }

  div#b1{
    top: 0;
    left: 20%;
    animation-direction: alternate-reverse;
    animation-duration: 3s;
  }

  div#b2{
    top: 0;
    left: 40%;
    animation-direction: alternate;
    animation-delay: 2s;
  }

  div#b3{
    top: 0;
    left: 60%;
    animation-direction: reverse;
    animation-delay: 1.5s;
  }

  div#b4{
    top: 0;
    left: 80%;
    animation-direction: normal;
    animation-delay: 2s;
  }

  div#b5{
    top: 70%;
    left: 20%;
    animation-direction: reverse;
    animation-delay: 1s;
  }

  div#b6{
    top: 70%;
    left: 40%;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
  }

  div#b7{
    top: 70%;
    left: 60%;
    transform: rotate(100deg); 
    animation-direction: normal;
  }

  div#b8{
    top: 70%;
    left: 80%;
    animation-direction: alternate;
    animation-delay: 1.5s;
  } 
} 

.added-to-readlist{
  background-color: #68C6F0 !important;
  background-image: url('../images/icons/add-readlist.svg') !important;

  &:hover{ 
    background-color: #FFDB00 !important;
    background-image: url('../images/icons/remove.svg') !important;
  }
}

.decrypt-char{
  display: none !important;
}

section#credits{
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background: #00477f;
  color: white;
  padding-bottom: 6em;

  h2{
    margin: 2.5em 0 1.5em;
    font-size: 1.5em;
    color: white;
    &::after{
      border-color: #DB3738;
      top: 1.4em;
      position: absolute;
    }
  }

  >div{
    display: flex;
    flex-direction: column;

    >article{
      position: relative;
      width: 100%;
      display: inline-block;
      margin-bottom: 2em;

      :first-of-type{
        margin-right: 1.5em;
      }

      img{
        border-radius: 50%;
        margin-right: 1em;
        width: 5em;
        height: 5em;
        object-fit: cover;
        display: inline-block;
      }
  
      header{
        position: absolute;
        top: 1.2em;   
        padding: 0;
        display: inline-block;
        width: initial;
        padding-left: 0;    
  
        h3{
          color: #e2e2e3;
          font-size: 0.8em;
          width: 100%;
          text-align: left;
          overflow: visible;
  
          &::after{
            display: none;
          }
        }
  
        h4{
          color: white;
          margin: 0;
        }
      }

      p{
        display: block;
        color: #e2e2e3;
        line-height: 1.5em;
        width: 85%;
      }
    }
  } 
}

section#contribute{
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  z-index: 998;;
  padding-bottom: 2em;
  background-color: #f5f5f6;
  padding-bottom: 6em;

  >div{
    max-width: 75.5em;
    margin: -5em auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 20px 0 rgba(35,31,32,.1);

    h2{
      padding: 1.8em 1rem 0;
      margin: 0;
      text-align: left;
      font-size: 1.5rem;
  
      &::after{
        display: block;
        height: 2px;
        content: '';
        border-radius: 4px 4px 0 0;
        border-bottom: 2px #DB3738 solid;
        width: 112px;
        padding-top: 0.3em;
      }
    }

    >div{
      display: flex;
      flex-direction: column;

      >div{
        position: relative;
        max-width: 30rem;
        padding: 0 1em 3em;;
  
        h3{
          margin-top: 3em;
        }
  
        p{
          color: #6D6E71;
        }
  
        button{
          display: block;
          margin: 2em 0 0;
          padding: 10px 20px 10px 20px;
          background-color: #D4EFFC;
          color: #00477f;
          font-size: 1em;
          font-weight: 500;
          line-height: 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: all .2s;
  
          &:hover{
            background-color: #68C6F0;
            color: #00477f;
          }
        }
  
        a{
          display: inline-block;
          width: 3em;
          height: 3em;
          color: red;
          margin-right: 1em;
          background-size: 3em;
        }
        a:nth-of-type(1){
          background-image: url('../images/icons/facebook.png')
        }
        a:nth-of-type(2){
          background-image: url('../images/icons/twitter.png')
        }
        a:nth-of-type(3){
          background-image: url('../images/icons/google_plus.png')
        }
      }
      
      form{
        width: 100%;
        background-color: #e2e2e3;
        padding: 3em 0;
        border-radius: 0 4px 4px 0;
        box-sizing: border-box;
        
        fieldset{
          border: none;
          margin: 0;
          legend{
            font-size: 1.2em;
            color: #00477f;
            font-weight: 500;
            margin-block-end: 1em;
          }
        }
    
        small{
          display: block;
          color: #b6b6b8;
    
          &:last-of-type{
            margin-top: 6em;
          }
        }
        
        p{
          margin: 0;
          font-size: 1em;
        }
    
        label{
          display: block;
          margin-bottom: 1em;
          font-size: 1em;
        }
  
        div{
          position: relative;
          padding-top: 0.5em;
  
          .rating{  
            position: absolute;
            left: 0;
            transform: translate(-0%, -0%);
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
      
            input{
              display: none;
            }
      
            label{
              display: block;
              cursor: pointer;
              width: 50px;
              background: transparent;
      
              &::before{
                content: '\f005';
                font-family: fontAwesome;
                position: relative;
                display: block;
                font-size: 2.5em;
                color: #b6b6b8;
              }
              &::after{
                content: '\f005';
                font-family: fontAwesome;
                position: absolute;
                display: block;
                font-size: 2.5em;
                color: #68C6F0;
                top: 0;
                opacity: 0;
                transition: .5s;
                text-shadow: 0 2px 5px rgba(0,0,0,.5);
              }
            }
      
            label:hover::after,
            label:hover ~ label::after,
            input:checked ~ label::after{
              opacity: 1;
            }
          }      
        }
      
        input[type="submit"]{
          display: block;
          margin: 2em 0 0 1em;
          padding: 10px 50px 10px 20px;
          background-color: #00477f;
          color: white;
          font-size: 1em;
          font-weight: 500;
          line-height: 20px;
          border: none;
          border-radius: 4px;
          background-image: url(../images/icons/arrow.svg);
          background-repeat: no-repeat;
          background-position: 90% center;
          background-size: 1.2em;
          cursor: pointer;
          outline: none;
          transition: all .2s;
        }
    
        input[type="submit"]:hover{
          background-color: #D4EFFC;
          color: #00477f;
          background-position: 92% center;
        }
    
        textarea{
          display: block;
          width: 90%;
          height: 5em;
          border-radius: 4px;
          border: none;
          resize: none;
          padding: 1em;
          font-size: 1em;
        }
      }
    }  
  } 
}

section#reviews{
  background: #f5f5f6;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 6em;

  h2{
    margin: 1.8em 0 0;
    color: #00477f;
    padding-left: 1rem;
    font-size: 1.5em;

    &::after{
      display: block;
      height: 2px;
      content: '';
      border-radius: 4px 4px 0 0;
      border-bottom: 2px #DB3738 solid;
      width: 112px;
      padding-top: 0.3em;

    }
  }

  >div{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar { 
      display: none; 
    }

    article{
      background-color: white;
      margin-right: 1em;
      display: inline-block;
      height: 15em;
      min-width: 18em;
      padding: 1em;
      box-shadow: 0 1px 20px 0 rgba(35,31,32,.1);

      &:first-of-type{
        margin-left: 1em;
      }

      &::before{
        display: block;
        height: 2px;
        content: '';
        border-radius: 4px 4px 0 0;
        border-bottom: 2px #e2e2e3 solid;
        width: 112px;
        padding-top: 1em;
        
      }
  
      ol{
        margin-top: 0.5em;
  
        li{
          margin-right: 0.3em;
          padding-left: 0;
        }
        li:first-child{
          margin-left: 0;
        }
      }
  
      header{
        padding: 0;
        margin-top: 1.8em;
       
        position: relative;
        h3{
          color: #00477f;
          text-align: left;
          font-size: 1em;
    
          &::after{
            display: none;
          }
        }  
      }

      p{
        color: #6d6e71;
      }
    }
  }
}

#fix-footer{
  margin-top: 0;
}

@media (min-width: 30em){
  body>header>nav{ 
    background: white;
    justify-content: center;

    ul:first-child{
      display: flex;
      justify-content: center;
      width: 75vw;    
      max-width: 40em;  
  
      >li:first-child{
        z-index: 999;
  
        div{
          padding: 1.8em 1em 1em;
  
          img{
            margin: 0;
          }
        } 
      }
  
      >li:not(:first-child) {
        width: 20%;
        margin-top: 0em;    
        background: white;
        animation: none;
      }
    } 
  }
  
  main ul {
    height: 80vh;

    li:first-child>div>div{
      margin-top: 10em;
    }
  }
}

@media (min-width: 40em){
  // history
  section:first-of-type{
    margin-top: -8em;
    z-index: 2;

    h2{
      color: white;
    }
  }

  section#credits{
    >div{
      flex-direction: row;
    }
  }

  section#contribute{
    >div{
      >div{
        flex-direction: row;
        
        form{
          margin-top: -7.3em;
          min-height: 38em;
          padding: 10.85em 1rem 3rem;
        }
      }
    }
  }

  main ul {
    li:first-child>div>div{
      margin-top: 5em;
    }
  }
}

@media (min-width: 82em){
  body>header>nav{ 
    >div{
      ul:first-of-type{ 
        >li:first-child{
          div{
            padding-left: calc(7% + 1em);
          } 
        }
      }  
    }
    
    ul#breadcrumb{
      padding-left: 7%;
      box-sizing: border-box;
    }
  }

  main button{
    right: 7% !important;
  }

  // history
  section:first-of-type{
    h2{
      padding-left: 7%;
    }

    ol li:first-child{
      padding-left: 7%;
    }
  }

  // veelbeproken
  section:last-of-type{
    h2{
      padding-left: 7%;
    }

    ol li:first-child{
      padding-left: 7%;
    }
  }

  main ul {
    li:last-child{
      padding-left: 7%;
    }
  }

  body>footer{
    padding-left: calc(7% + 1em);
  }

  section#credits{
    h2{
      padding-left: 7%;
    }
    article:first-of-type{
      padding-left: 7%;
    }
  }

  section#reviews{
    
    h2{
      padding-left: calc(7% + 1rem);
    }

    article:first-of-type{
      margin-left: calc(7% + 1em) !important;
    }
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  33% { 
    transform: rotate(120deg);
  }
  66% { 
    transform: rotate(-270deg);
  }
  100% { 
    transform: rotate(0deg);
  }
}

@keyframes show{
  0% { 
    margin-top: -10em;
  }
  50% { 
    margin-top: 0.5em;
  }
  100% { 
    margin-top: 0em;
  }
}

@keyframes backdrop {
  0% { 
    background-image: none;
    background-position: 90% 65%;
  }
  15% { 
    background-image: url('../images/stories/lost.jpg');
    background-repeat: no-repeat;
    // https://www.saatchiart.com/art/Painting-Hidden-Messages-N-30/831404/3574945/view
    background-position: 88% 70%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% { 
    background-image: none;
  }
}

@keyframes transform-dot {
  0% { 
    width: 0;
    height: 0;
  }
  50% { 
    width: 0.5em;
    height:  0.5em;
  }
  100% { 
    width: 0.3em;
    height: 5em;
  }
}

@keyframes transform-title-2 {
  0% { 
    border-radius: 50%;
  }
  1% { 
    border-radius: 0;
  }
  11% { 
    border-radius: 0;
  }
  12% { 
    border-radius: 50%;
    border-color: white;
    background: none;
  }
  60% { 
    border-radius: 50%;
    border-color: white;
    background: none;

  }
  61% { 
    border-radius: 0;
    border-color: transparent;
    background: white;
  }
  65% { 
    border-radius: 50%;
  }
  100% { 
    border-radius: 50%;
  }
}

@keyframes transform-title-3 {
  81% { 
    color: white;
  }
  82% { 
    color: black;
  }
  88% { 
    color: white;
    transform: skewY(0deg)
  }
  89% { 
    transform: skewY(20deg)
  }
  95% { 
    transform: skewY(0deg)
  }
  100% { 
    transform: rotate(0deg);
  }
}

@keyframes transform-title-4 {
  28% { 
    color: white;
    transform: translate(0,0)
  }
  29% { 
    transform: translate(50%,0)

  }
  45% { 
    transform: translate(0,0)
  }
  75%{
    transform: rotate(0deg);
  }
  76%{
    transform: rotate(-10deg);
  }
  77%{
    transform: rotate(0deg);
  }
}