@font-face{
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Regular.ttf');
  font-weight: 500;
}

html{
  height: 100%;
}

body{
  margin: 0 0 -50px;
  background-color: rgb(245, 245, 246);
  font-family: "SourceSansPro", "Arial", sans-serif;
  color: #231f20;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a{
  color: #18477B;
  text-decoration: none;
}

h1, h2, h3, h4{
  color: #00477f;
  font-weight: 500;
}

//header
body>header>nav{
  width: 100%; 
  font-size: 0.8em;
  box-shadow: 0 1px 20px 0 rgba(35,31,32,.1);
  position: fixed;
  transition: all 0.2s;
  z-index: 998;
  
  ul{
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    >li:first-child{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999;

      div{
        padding: 2.1em 0 0.8em;

        img{
          display: block;
          height: 1.7em;
          width: initial;
          z-index: 1;
          margin: 0 auto;
        }
      } 
    }

    >li:not(:first-child) {
      list-style-type: none;
      display: block;
      width: 25%;
      text-align: center;
      justify-content: center;
      z-index: 999;
      padding: 0.8em 0;   
      margin-top: -10em;    
      background: white;
      animation: show 1s ease-out forwards;
      animation-delay: 2s;

      a{
        display: block;
        padding: 2.5em 0 0;
        background-position: center top;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all .2s;
      }

      a:hover{
        transform: scale(1.1);
      }
  
      img{
        width: 2em;
        height: 2em;
      }
    }
    
    li:nth-child(2) a{
      background-image: url('../images/icons/book.svg');     
    }
    li:nth-child(3) a{
      background-image: url('../images/icons/search.svg');
    }
    li:nth-child(4) a{
      background-image: url('../images/icons/read.svg');
    }
    li:nth-child(5) a{
      background-image: url('../images/icons/account.svg');
    }
  } 
}

body>footer{
  margin-top: 6em;
  background-color: white;
  padding: 1.8em 1em 2em;

  div{
    display: flex;

    ul{
      justify-content: center;
      padding: 0 1.3em;
  
      li{
        padding-bottom: 0.5em;
      }
    }
  }
}

.align-icon{
  margin-bottom: -0.1em;
}

.align-arrow{
  margin-bottom: -0.2em;
}

main>ul{
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  height: 95vh; 
  overflow-y: hidden; 
  display: flex;
  flex-direction: column-reverse;
  -webkit-overflow-scrolling: touch;
  background: #231f20;
  animation: backdrop 15s ease-in-out forwards infinite;
  transition: .2s;

  // gradient
  &::after{
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30em;
    background: linear-gradient( rgba(0,0,0,0) ,rgba(0,0,0,100));
    z-index: 0;
  }

  h1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 1.2em;
  }

  >li{
    position: relative;
    width: 100%;
    height: 95vh;

    // btn older stories
    >a#older_stories{
      position: absolute;
      top: 7.5em;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      align-items: center; 

      span{
        text-align: center;
        color: white;
        margin-right: 1em;
        display: none;
      }

      div{
        border: none;
        margin:0 auto;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        background-color: #FFDB00BB;
        background-image: url('../images/icons/arrow-bl.svg');
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 99;
       
        transform: rotate(270deg);
        transition: all .2s;

        :hover{
          background-position-y: 5%;
        }
      }

      :hover{
        cursor: pointer;

        +div{
          background-position: 70% center;
        }
      }
    }

    // preview
    &:first-child article{
      position: relative;
      height: 85vh;
  
      header{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 30%;
        padding: 1em 0 1em;
        z-index: 1;
  
        h2{
          text-transform: uppercase;
          color: white;
          font-size: 3em;
          letter-spacing: 0.3em;
  
          span{
            display: inline-block;
          }
  
          span:nth-of-type(2){
            width: 0.75em;
            height: 0.75em;
            margin: 0 0.15em;
            background: white;
            border-radius: 50%;
            transform: translate(-25%, 0);
            animation: transform 15s ease-in-out alternate-reverse infinite;
          }
        }
  
        p{
          color: #68C6F0;
        }
  
        a{
          margin-top: 0.5em;
          display: inline-block;
          color: #00477f;
          padding: 10px 50px 10px 20px;
          background-color: white;
          border-radius: 4px;
          background-image: url('../images/icons/arrow.svg');
          background-repeat: no-repeat;
          background-position: 90% center;
          background-size: 1.2em;
          transition: all .2s;
  
        }
  
        a:hover{
          background-color: #D4EFFC;
          background-position: 92% center;
        }
      }
  
      div#story-preview{
        position: absolute;
        z-index: 0;
        top: 0;
        width: 100%;
        height: 85vh;
  
        div.bar{
          position: absolute; 
          background: white;
          width: 0;
          height: 0;
          transform: translate(-50%, 0);
          animation: spin 10s ease-in-out forwards infinite, transform-dot 3s ease-in-out forwards infinite;
        }
  
        div#b1{
          top: 10%;
          left: 20%;
          animation-direction: alternate-reverse;
        }
  
        div#b2{
          top: 10%;
          left: 40%;
          animation-direction: alternate;
          animation-delay: 2s;
        }
  
        div#b3{
          top: 10%;
          left: 60%;
          animation-direction: reverse;
          animation-delay: 1.5s;
        }
  
        div#b4{
          top: 10%;
          left: 80%;
          animation-direction: normal;
          animation-delay: 2s;
        }
  
        div#b5{
          top: 70%;
          left: 20%;
          animation-direction: reverse;
          animation-delay: 1s;
        }
  
        div#b6{
          top: 70%;
          left: 40%;
          animation-direction: alternate-reverse;
          animation-delay: 2s;
        }
  
        div#b7{
          top: 70%;
          left: 60%;
          transform: rotate(100deg); 
          animation-direction: normal;
        }
  
        div#b8{
          top: 70%;
          left: 80%;
          animation-direction: alternate;
          animation-delay: 1.5s;
        } 
      } 
    }
  }

  // older stories
  >li:last-child{
    background-image: linear-gradient(rgba(35,31,32,20) 0%, rgba(0, 0, 0, 0) 40%);

    >ol{
      width: 100%;
      height: 52vh;
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar { 
        display: none; 
      }

      >li:first-child{
        margin-left: 9%;
      }

      >li:last-child{
        margin-right: 1.8em;
      }

      >li{
        margin: 1em 1em 0 0;

        h2{
          color: white;
          font-size: 1.2em;

          &::after{
            display: block;
            height: 2px;
            margin: 0.3em 0 0;
            content: '';
            border-bottom: 2px #DB3738 solid;
            width: 112px;
            padding-top: 0.2em;
          }
        }
      }

      footer{
        ol {
          padding: 0;
          li{
            display: inline-block;
          }
        }       
      }
    }
  }
} 

section{
  position: relative;
  width: 100%;

  ol{
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
    width: 100%;
    overflow-x: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar { 
      display: none; 
    }

    li{
      margin-right: 0.8em;

      &:first-child{
        margin-left: 1em;
      }

      &:last-child{
        margin-right: 1em;
      }
    }
  }

  h2{
    font-size: 1.2em;
    border-radius: 4px 4px 0 0;
    margin: 1.8em 1em 0.8em;
    margin-top: 1.8em;

    &::after{
      display: block;
      height: 2px;
      margin: 0.3em 0 1em;
      content: '';
      width: 112px;
      padding-top: 0.2em;
    }
  }

  article{
    position: relative;
    border-radius: 4px;
    width: 18rem;

    a>img{
      height: 10em;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }

    header{
      padding: 1em 0.8em;
      position: absolute;

      h3{
        margin: 0;
        max-width: 15em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: white;
      }
    }
  }
}

// history
section:first-of-type{
  margin-top: -8em;
  z-index: 2;

  h2{
    color: white;

    &::after{
      border-bottom: 2px #DB3738 solid;
    }
  }
}


// veelbesproken
section:nth-of-type(2){
  h2{
    color: #00477f;

    &::after{
      border-bottom: 2px #68C6F0 solid;
    }
  }

  ol{
    margin: 0;
    padding: 0;
    list-style-type: none;

    li{
      ol{      
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    } 
  } 
}

.nav-up{
  top: -50px !important;
}

.list-styled{
  list-style-image: url('../images/icons/arrow.svg'); 
}

article.tile{
  position: relative;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  min-height: 26em;
  width: 18em;

  &:hover a>img{
    transform: scale(1.2);
    transition: 5s;
  }      

  >a{
    >img{
      object-fit: cover;
      width: 100%;
      height: 22em;
      border-radius: 4px 4px 0 0;
      z-index: 1; 
      transition: .2s;
    }

    &::after{
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 22em;
      background: linear-gradient(rgba(0, 157, 219, 100), rgba(0, 71, 127, 0));
      z-index: 0;
    }

    >div{
      position: absolute;
      top: 1em;

      p{
        position: relative;
        margin: 0;
        color: white;
        z-index: 1;
      }
      
      header{
        position: relative;
        z-index: 2; 
        margin-top: -0.2em;
    
        h3{
          margin: 0;
          padding: 1em 0;
          color: white;
          font-size: 1.2em;
  
          &::after{
            display: block;
            height: 2px;
            content: '';
            border-bottom: 2px #DB3738 solid;
            width: 112px;
            padding-top: 0.8em;
            margin: 0 auto;
          }
        }      
      }
    }

    footer{
      position: relative;
      padding: 1em;
      background-color: white;
      margin-top: -0.3em;

      span{
        font-size: 0.8em;
        color: #6D6E71;
      }

      ol{
        width: 75%;
        margin: 0 auto;
        overflow: visible;
        display: flex;
        
        li{
          img{
            width: 1.2em;
          }
        }     
      }

      button{
        position: absolute;
        top: -2.5em;
        right: 1.5em;
        border: none;
        border-radius: 50%;
        background-color: #68C6F0;
        height: 4em;
        width: 4em;
        cursor: pointer;
        z-index: 3;
        transition: all .2s;

        &:hover{
          transform: scale(1.1);
        }
        
        img{
          width: 1.5em;
          padding-top: 0.6em;
        }                 
      }
    }
  }      
}   

article.tile--compact{
  min-height: 10em;

  >a { 
    >img{
      height: 10em;
    }

    &::after{
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 10em;
      background: linear-gradient(rgba(0, 157, 219, 100), rgba(0, 71, 127, 0));
      z-index: 0;
    }
  }
}

@media (min-width: 40em){
  body>header>nav{
    width: 100%; 
    background-color: white;
    font-size: 0.8em;
    box-shadow: 0 1px 20px 0 rgba(35,31,32,.1);
    position: fixed;
    width: 100%;
    transition: 0.3s;
    z-index: 998;
    
    ul{
      display: flex;
      margin: 0 auto;
      padding: 0;
      width: 30em;
      list-style-type: none;

      li:first-child{
        position: absolute;
        width: 100%;
        left: 0;

        div{
          width: 93em;
          margin: 0 auto;
          padding: 1.8em 0 0.8em;

          img{
            height: 1.7em;
            width: initial;
            z-index: 1;
          }
        } 
      }
  
      li:not(:first-child) {
        list-style-type: none;
        width: 25%;
        text-align: center;
        justify-content: center;
        z-index: 1;
        padding: 0.5em 0;       
        margin: 0.5em 0;

        a{
          display: block;
          padding: 2.5em 0 0;
          background-position: center top;
          background-repeat: no-repeat;
          cursor: pointer;
          transition: all .2s;
        }

        a:hover{
          transform: scale(1.1);
        }
    
        img{
          width: 2em;
          height: 2em;
        }
      }
      
      li:nth-child(2) a{
        background-image: url('../images/icons/book.svg');     
      }
      li:nth-child(3) a{
        background-image: url('../images/icons/search.svg');
      }
      li:nth-child(4) a{
        background-image: url('../images/icons/read.svg');
      }
      li:nth-child(5) a{
        background-image: url('../images/icons/account.svg');
      }
    } 
  }

  main ol{
    margin-top: 4em;

    h1{
      top: 5em;
    } 
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  33% { 
    transform: rotate(120deg);
  }
  66% { 
    transform: rotate(-270deg);
  }
  100% { 
    transform: rotate(0deg);
  }
}

@keyframes show{
  0% { 
    margin-top: -10em;
  }
  50% { 
    margin-top: 0.5em;
  }
  100% { 
    margin-top: 0em;
  }
}


@keyframes backdrop {
  0% { 
    background-image: none;
    background-position: 90% 65%;
  }
  15% { 
    background-image: url('../images/stories/lost.jpg');
    // https://www.saatchiart.com/art/Painting-Hidden-Messages-N-30/831404/3574945/view
    background-position: 88% 70%;
    background-repeat: none;
    background-size: cover;
  }
  100% { 
    background-image: none;
  }
}

@keyframes transform-dot {
  0% { 
    width: 0;
    height: 0;
  }
  50% { 
    width: 0.5em;
    height:  0.5em;
  }
  100% { 
    width: 0.3em;
    height: 5em;
  }
}

@keyframes transform {
  0% { 
    border-radius: 50%;
  }
  1% { 
    border-radius: 0;
  }
  11% { 
    border-radius: 0;
  }
  12% { 
    border-radius: 50%;
  }
  60% { 
    border-radius: 50%;
    opacity: 1;
  }
  61% { 
    border-radius: 0;
    opacity: 0;
  }
  70% { 
    opacity: 0;
  }
  71% { 
    opacity: 1;
    border-radius: 50%;
    margin-top: 12px;
  }
  100% { 
    border-radius: 50%;
  }
}