@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: 500;
}

html {
  height: 100%;
}

body {
  margin: 0 0 -50px;
  background-color: #f5f5f6;
  font-family: "SourceSansPro", "Arial", sans-serif;
  color: #231f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

a {
  color: #18477B;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #00477f;
  font-weight: 500;
}

main > h1 {
  display: none;
}

ul, ol {
  list-style-type: none;
}

.text-active {
  font-size: 1.5em !important;
  opacity: 0.8 !important;
  color: white !important;
}

.push-down {
  margin: -8em 0 12em;
}

body > header > nav {
  position: relative;
  width: 100%;
  font-size: 0.8em;
  -webkit-box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 999;
}

body > header > nav > div {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

body > header > nav ul:first-child {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

body > header > nav ul:first-child > li:first-child {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

body > header > nav ul:first-child > li:first-child div {
  padding: 2.1em 0 1em;
}

body > header > nav ul:first-child > li:first-child div img {
  display: block;
  height: 1.7em;
  width: initial;
  z-index: 1;
  margin: 0 auto;
}

body > header > nav ul:first-child > li:not(:first-child) {
  display: block;
  width: 25%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  padding: 1em 0;
  margin-top: -10em;
  background: white;
  -webkit-animation: show 1s ease-out forwards;
          animation: show 1s ease-out forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

body > header > nav ul:first-child > li:not(:first-child) a {
  display: block;
  padding: 2.2em 0 0;
  background-position: center top;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body > header > nav ul:first-child > li:not(:first-child) a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body > header > nav ul:first-child > li:not(:first-child) img {
  width: 2em;
  height: 2em;
}

body > header > nav ul:first-child li:nth-child(2) a {
  background-image: url("../images/icons/book.svg");
}

body > header > nav ul:first-child li:nth-child(3) a {
  background-image: url("../images/icons/search.svg");
}

body > header > nav ul:first-child li:nth-child(4) a {
  background-image: url("../images/icons/read.svg");
}

body > header > nav ul:first-child li:nth-child(5) a {
  background-image: url("../images/icons/account.svg");
}

body > header > nav ul#breadcrumb {
  position: absolute;
  top: 5.5em;
  border-top: 1px solid #e2e2e3;
  background-color: white;
  max-width: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: -10em 0;
  padding: 0;
  background: white;
  -webkit-animation: show 1s ease-out forwards;
          animation: show 1s ease-out forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

body > header > nav ul#breadcrumb li {
  position: relative;
  display: inline-block;
  width: initial;
}

body > header > nav ul#breadcrumb li:first-child {
  position: relative;
  padding: 1em;
}

body > header > nav ul#breadcrumb li:first-child :hover {
  background-position: right 40%;
}

body > header > nav ul#breadcrumb li:first-child a {
  width: 2.5em;
  height: 2em;
  border-left: 1px solid #b6b6b8;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  color: #00477f;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: 75% 40%;
  background-size: 1.2em;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body > header > nav ul#breadcrumb li:last-child {
  margin-top: initial;
  -webkit-animation: none;
          animation: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #00477f;
  line-height: 2em;
  font-size: 1em;
  font-weight: 500;
  padding: 0;
}

body > footer {
  position: relative;
  background-color: white;
  background-image: url("../images/logo.png");
  background-position: calc(100% + -1rem) center;
  background-repeat: no-repeat;
  background-size: 4em;
  padding: 3em 1em 3em;
  margin-top: 4em;
}

body > footer::after {
  display: block;
  height: 2px;
  content: '';
  border-radius: 4px 4px 0 0;
  border-bottom: 2px #DB3738 solid;
  width: calc(100% - 5rem);
}

body > section {
  position: relative;
  width: 100%;
}

body > section ol {
  margin: 1em 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch;
}

body > section ol::-webkit-scrollbar {
  display: none;
}

body > section ol li {
  margin-right: 1em;
}

body > section ol li:first-child {
  margin-left: 1em;
}

body > section ol li:last-child {
  margin-right: 1em;
}

body > section h2 {
  font-size: 1.5em;
  border-radius: 4px 4px 0 0;
  margin: 1.8rem 1rem 1rem;
  margin-top: 1.8em;
}

body > section h2::after {
  display: block;
  height: 2px;
  margin: 0.3em 0 1em;
  content: '';
  width: 112px;
  padding-top: 0.2em;
  border-bottom: 2px solid #DB3738;
}

body > section article {
  position: relative;
  border-radius: 4px;
  width: 18rem;
  overflow: hidden;
}

body > section article a > img {
  height: 10em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

body > section article a::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px 4px 0 0;
  top: -5em;
  left: 0;
  width: 100%;
  height: 10em;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  z-index: 0;
}

body > section article header {
  padding: 1em 1em;
  position: absolute;
  width: 100%;
  z-index: 2;
}

body > section article header h3 {
  margin: 0;
  max-width: 14em;
  text-align: center;
  color: white;
}

body > section article header h3::after {
  display: block;
  height: 2px;
  margin: 0.3em 0 0;
  content: '';
  border-bottom: 2px #68C6F0 solid;
  width: 112px;
  padding-top: 1em;
  margin: 0 auto;
}

.align-icon {
  margin-bottom: -0.1em;
}

.align-arrow {
  margin-bottom: -0.2em;
}

main > ul {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100vh;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-overflow-scrolling: touch;
  background: #231f20;
  -webkit-animation: backdrop 15s ease-in-out forwards infinite;
          animation: backdrop 15s ease-in-out forwards infinite;
  -webkit-transition: .2s;
  transition: .2s;
}

main > ul::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  z-index: 1;
}

main > ul > li:first-child {
  position: relative;
  width: 100%;
  height: 100vh;
}

main > ul > li:first-child > div {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > ul > li:first-child > div > div:first-child {
  padding: 0.5em;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 998;
}

main > ul > li:first-child > div > div:first-child > button {
  padding: 0.2em;
  background: transparent;
  border: none;
  outline: 0;
  color: #68C6F0;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1em;
  opacity: 0.5;
  cursor: pointer;
}

main > ul > li:first-child > div > div:first-child > button:last-child {
  padding-bottom: 0;
}

main > ul > li:first-child > div:first-child article {
  position: relative;
}

main > ul > li:first-child > div:first-child article header {
  position: relative;
  text-align: center;
  width: 100%;
  height: 15em;
  z-index: 2;
}

main > ul > li:first-child > div:first-child article header h1, main > ul > li:first-child > div:first-child article header h2 {
  position: relative;
  text-transform: uppercase;
  color: white;
  font-size: 3em;
  letter-spacing: 0.3em;
  margin: 0 0 1.2em;
  z-index: 998;
}

main > ul > li:first-child > div:first-child article header h1 span, main > ul > li:first-child > div:first-child article header h2 span {
  display: inline-block;
}

main > ul > li:first-child > div:first-child article header h1 span:nth-of-type(2), main > ul > li:first-child > div:first-child article header h2 span:nth-of-type(2) {
  width: 0.75em;
  height: 0.75em;
  margin: 0 0.15em;
  background: white;
  color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 50%;
  -webkit-transform: translate(-22%, 46%);
          transform: translate(-22%, 46%);
  animation: transform-title-2 15s ease-in-out alternate-reverse infinite;
}

main > ul > li:first-child > div:first-child article header h1 span:nth-of-type(3), main > ul > li:first-child > div:first-child article header h2 span:nth-of-type(3) {
  -webkit-animation: transform-title-3 15s ease-in-out forwards infinite;
          animation: transform-title-3 15s ease-in-out forwards infinite;
}

main > ul > li:first-child > div:first-child article header h1 span:nth-of-type(4), main > ul > li:first-child > div:first-child article header h2 span:nth-of-type(4) {
  -webkit-animation: transform-title-4 15s ease-in-out forwards infinite;
          animation: transform-title-4 15s ease-in-out forwards infinite;
}

main > ul > li:first-child > div:first-child article header p {
  color: #68C6F0;
}

main > ul > li:first-child > div:first-child article header a {
  margin-top: 1em;
  display: inline-block;
  color: #00477f;
  padding: 10px 50px 10px 20px;
  background-color: white;
  border-radius: 4px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 1.2em;
  -webkit-transition: all .2s;
  transition: all .2s;
}

main > ul > li:first-child > div:first-child article header a:hover {
  background-color: #D4EFFC;
  background-position: 92% center;
}

main > ul > li:last-child {
  position: relative;
  width: 100%;
  padding-top: 12em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#231f20), color-stop(40%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(#231f20 0%, rgba(0, 0, 0, 0) 40%);
  min-height: 28em;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main > ul > li:last-child::-webkit-scrollbar {
  display: none;
}

main > ul > li:last-child article {
  margin-right: 1em;
  display: inline-block;
}

main > ul > li:last-child article > h2 {
  color: white;
  font-size: 1.2em;
}

main > ul > li:last-child article > h2::after {
  display: block;
  height: 2px;
  margin: 0.3em 0 0;
  content: '';
  border-bottom: 2px #DB3738 solid;
  width: 112px;
  padding-top: 0.2em;
}

main > ul > li:last-child article:first-child {
  margin-left: 1em;
}

main > ul > li:last-child article:last-child {
  margin-right: 1em;
}

> section:first-of-type {
  margin-top: 1em;
  z-index: 2;
}

> section:first-of-type h2 {
  font-size: 1.5em;
}

> section:first-of-type h2::after {
  border-bottom: 2px #DB3738 solid;
}

> section:nth-of-type(2) h2 {
  color: #00477f;
  font-size: 1.5em;
}

> section:nth-of-type(2) h2::after {
  border-bottom: 2px #DB3738 solid;
}

> section:nth-of-type(2) ol {
  margin: 0;
  padding: 0;
}

> section:nth-of-type(2) ol li ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav-up {
  top: -50px !important;
}

.list-styled {
  list-style-image: url("../images/icons/arrow.svg");
}

article.tile {
  position: relative;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  min-height: 26em;
  width: 18em;
  -webkit-box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
}

article.tile > a > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 22em;
  border-radius: 4px 4px 0 0;
  z-index: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

article.tile > a::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px 4px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 22em;
  background: -webkit-gradient(linear, left top, left bottom, from(#009ddb), to(rgba(0, 71, 127, 0)));
  background: linear-gradient(#009ddb, rgba(0, 71, 127, 0));
  z-index: 0;
}

article.tile > a > div {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 1em;
}

article.tile > a > div p, article.tile > a > div > section > article {
  position: relative;
  margin: 0;
  color: white;
  white-space: normal;
  z-index: 1;
  padding: 0 1em;
}

article.tile > a > div > section {
  position: relative;
}

article.tile > a > div > section article {
  position: absolute;
  top: 20em;
  left: 1em;
  width: calc(100% - 2rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffffCC;
  padding: 0 1em 1em;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

article.tile > a > div > section article p {
  text-align: left;
  color: #6D6E71;
  padding: 0;
}

article.tile > a > div > section article h4 {
  display: block;
  text-align: left;
  font-weight: bolder;
  color: #00477f;
  font-size: 0.8em;
  margin: 0;
}

article.tile > a > div > section article h4::before {
  display: block;
  height: 2px;
  padding: 1rem 0 0;
  margin: 0 0 1em;
  content: '';
  border-bottom: 2px white solid;
  width: 112px;
}

article.tile > a > div > section article > footer {
  text-align: left;
}

article.tile > a > div > section article > footer ol {
  margin: 0;
  padding: 0;
}

article.tile > a > div > section article > footer ol li {
  display: inline-block;
  margin: 0.5em 0.2em 0;
}

article.tile > a > div > section article > footer ol li:first-child {
  margin-left: 0;
}

article.tile > a > div article.show-review {
  top: 1em !important;
}

article.tile > a > div header {
  position: relative;
  z-index: 2;
  margin-top: -0.2em;
}

article.tile > a > div header h3 {
  margin: 0;
  padding: 1em 0;
  color: white;
  font-size: 1.2em;
}

article.tile > a > div header h3::after {
  display: block;
  height: 2px;
  content: '';
  border-radius: 4px 4px 0 0;
  border-bottom: 2px #68C6F0 solid;
  width: 112px;
  padding-top: 1em;
  margin: 0 auto;
}

article.tile > a > footer {
  position: relative;
  padding: 1em;
  background-color: white;
  border-radius: 0 0 4px 4px;
  margin-top: -0.3em;
  z-index: 998;
}

article.tile > a > footer span {
  font-size: 0.8em;
  color: #6D6E71;
}

article.tile > a > footer ol {
  width: 75%;
  margin: 0 auto;
  padding: 0;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article.tile > a > footer ol li {
  margin: 0 0.2em;
}

article.tile > a > footer ol li img {
  width: 1.2em;
}

article.tile > a > footer button {
  position: absolute;
  top: -1.8em;
  right: 1.5em;
  border: none;
  border-radius: 50%;
  background-color: #68C6F0;
  height: 3.2em;
  width: 3.2em;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

article.tile > a > footer button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

article.tile > a > footer button img {
  width: 1.2em;
  padding-top: 0.6em;
}

article.tile--compact {
  min-height: 10em;
}

article.tile--compact > h2 {
  position: absolute;
  top: -3.5em;
}

article.tile--compact > a > img {
  height: 10em;
}

article.tile--compact > a::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px 4px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 10em;
  background: -webkit-gradient(linear, left top, left bottom, from(#009ddb), to(rgba(0, 71, 127, 0)));
  background: linear-gradient(#009ddb, rgba(0, 71, 127, 0));
  z-index: 0;
}

#story-container {
  position: relative;
  padding: 12em 1em 8em;
}

#story-container .sticky-button {
  position: absolute;
  top: initial;
  bottom: 1.5rem;
  z-index: 998;
}

#story-container header {
  position: relative;
  margin-top: 4em;
  text-align: center;
  width: 100%;
  z-index: 2;
}

#story-container header h1 {
  position: relative;
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-size: 3em;
  letter-spacing: 0.3em;
  z-index: 998;
}

#story-container header h1 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'Source Code Pro', monospace;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#story-container header h1 span:nth-of-type(2) {
  width: 0.75em;
  height: 0.75em;
  margin: 0 0.15em;
  background: white;
  color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 50%;
  -webkit-transform: translate(-22%, 46%);
          transform: translate(-22%, 46%);
  animation: transform-title-2 15s ease-in-out alternate-reverse infinite;
}

#story-container header h1 span:nth-of-type(3) {
  -webkit-animation: transform-title-3 15s ease-in-out forwards infinite;
          animation: transform-title-3 15s ease-in-out forwards infinite;
}

#story-container header h1 span:nth-of-type(4) {
  -webkit-animation: transform-title-4 15s ease-in-out forwards infinite;
          animation: transform-title-4 15s ease-in-out forwards infinite;
}

#story-container header h2 {
  color: #68C6F0;
  font-weight: normal;
  font-size: 1.2em;
  margin: 2em 0;
}

#story-container header a {
  margin-top: 1em;
  display: inline-block;
  color: #00477f;
  padding: 10px 50px 10px 20px;
  background-color: white;
  border-radius: 4px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 1.2em;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#story-container header a:hover {
  background-color: #D4EFFC;
  background-position: 92% center;
}

#story-container section {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  border-radius: 4px;
  width: 100%;
  z-index: 998;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

#story-container section label {
  display: block;
  border-top: 2px solid #b6b6b8;
  width: 100%;
  padding: 2em 4rem 2em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

#story-container::before {
  position: fixed;
  content: "";
  display: block;
  border-radius: 4px 4px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #231f20;
  -webkit-animation: backdrop 15s ease-in-out forwards infinite;
          animation: backdrop 15s ease-in-out forwards infinite;
  z-index: -1;
}

#story-container::after {
  position: fixed;
  content: "";
  display: block;
  border-radius: 4px 4px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  z-index: 0;
}

#story-container p {
  padding-top: 3em;
  text-align: center;
  border-top: 4px solid white;
  font-family: 'Source Code Pro', monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  word-break: break-all;
}

#story-container p span {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 0.3em;
}

#story-container p span div {
  display: inline;
}

div#story-preview {
  position: absolute;
  z-index: 1;
  top: 10em;
  left: 0;
  width: 100%;
  height: 80vh;
}

div#story-preview div.bar {
  position: absolute;
  background: white;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: spin 10s ease-in-out forwards infinite, transform-dot 3s ease-in-out forwards infinite;
          animation: spin 10s ease-in-out forwards infinite, transform-dot 3s ease-in-out forwards infinite;
}

div#story-preview div#b1 {
  top: 0;
  left: 20%;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

div#story-preview div#b2 {
  top: 0;
  left: 40%;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

div#story-preview div#b3 {
  top: 0;
  left: 60%;
  animation-direction: reverse;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

div#story-preview div#b4 {
  top: 0;
  left: 80%;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

div#story-preview div#b5 {
  top: 70%;
  left: 20%;
  animation-direction: reverse;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

div#story-preview div#b6 {
  top: 70%;
  left: 40%;
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

div#story-preview div#b7 {
  top: 70%;
  left: 60%;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

div#story-preview div#b8 {
  top: 70%;
  left: 80%;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.added-to-readlist {
  background-color: #FFDB00 !important;
  background-image: url("../images/icons/add-readlist.png") !important;
}

.add-to-readlist {
  position: fixed;
  top: 76vh;
  right: 1rem;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
  background-image: url("../images/icons/readlist-not-added.png");
  background-repeat: no-repeat;
  background-color: #68C6F0;
  background-position: center center;
  background-size: 40%;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.add-to-readlist:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #FFDB00;
}

.add-to-readlist span {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

span.show-confirmation {
  display: block !important;
  position: absolute;
  -webkit-box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
  top: 50%;
  right: 3.5rem;
  color: #00477f;
  padding: 0.5rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: white;
  border-radius: 4px;
  width: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.decrypt-char {
  display: none !important;
}

section#credits {
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  background: #00477f;
  color: white;
  padding-bottom: 6em;
}

section#credits h2 {
  margin: 2.5em 0 1.5em;
  font-size: 1.5em;
  color: white;
}

section#credits h2::after {
  border-bottom: 2px solid #DB3738;
  top: 1.4em;
  position: absolute;
}

section#credits > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#credits > div > article {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-bottom: 2em;
}

section#credits > div > article :first-of-type {
  margin-right: 1.5em;
}

section#credits > div > article img {
  border-radius: 50%;
  margin-right: 1em;
  width: 5em;
  height: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}

section#credits > div > article header {
  position: absolute;
  top: 1.2em;
  padding: 0;
  display: inline-block;
  width: initial;
  padding-left: 0;
}

section#credits > div > article header h3 {
  color: #e2e2e3;
  font-size: 0.8em;
  width: 100%;
  text-align: left;
  overflow: visible;
}

section#credits > div > article header h3::after {
  display: none;
}

section#credits > div > article header h4 {
  color: white;
  margin: 0;
}

section#credits > div > article p {
  display: block;
  color: #e2e2e3;
  line-height: 1.5em;
  width: 85%;
}

section#contribute {
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 998;
  padding-bottom: 2em;
  background-color: #f5f5f6;
  padding-bottom: 6em;
}

section#contribute > div {
  max-width: 75.5em;
  margin: -5em auto;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
}

section#contribute > div h2 {
  padding: 1.8em 1rem 0;
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
}

section#contribute > div h2::after {
  display: block;
  height: 2px;
  content: '';
  border-radius: 4px 4px 0 0;
  border-bottom: 2px #DB3738 solid;
  width: 112px;
  padding-top: 0.3em;
}

section#contribute > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#contribute > div > div > section {
  position: relative;
  max-width: 30rem;
  padding: 0 1em 3em;
}

section#contribute > div > div > section h3 {
  margin-top: 3em;
}

section#contribute > div > div > section p {
  color: #6D6E71;
}

section#contribute > div > div > section button {
  display: block;
  margin: 2em 0 0;
  padding: 10px 20px 10px 20px;
  background-color: #D4EFFC;
  color: #00477f;
  font-size: 1em;
  font-weight: 500;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

section#contribute > div > div > section button:hover {
  background-color: #68C6F0;
  color: #00477f;
}

section#contribute > div > div > section a {
  display: inline-block;
  width: 3em;
  height: 3em;
  color: red;
  margin-right: 1em;
  background-size: 3em;
}

section#contribute > div > div > section a:nth-of-type(1) {
  background-image: url("../images/icons/facebook.png");
}

section#contribute > div > div > section a:nth-of-type(2) {
  background-image: url("../images/icons/twitter.png");
}

section#contribute > div > div > section a:nth-of-type(3) {
  background-image: url("../images/icons/google_plus.png");
}

section#contribute > div > div .form {
  width: 100%;
  min-width: 60%;
  background-color: #e2e2e3;
  padding: 3rem 1rem;
  border-radius: 0 4px 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section#contribute > div > div .form h3 {
  margin: 0;
}

section#contribute > div > div .form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

section#contribute > div > div .form fieldset legend {
  font-size: 1.2em;
  color: #00477f;
  font-weight: 500;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

section#contribute > div > div .form small {
  display: block;
  color: #b6b6b8;
}

section#contribute > div > div .form small:last-of-type {
  margin-top: 6em;
}

section#contribute > div > div .form p {
  margin: 0;
  font-size: 1em;
}

section#contribute > div > div .form label {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
}

section#contribute > div > div .form div {
  position: relative;
  padding-top: 0.5em;
}

section#contribute > div > div .form div .rating {
  position: absolute;
  left: 0;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section#contribute > div > div .form div .rating input {
  display: none;
}

section#contribute > div > div .form div .rating label {
  display: block;
  cursor: pointer;
  width: 50px;
  background: transparent;
}

section#contribute > div > div .form div .rating label::before {
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 2.5em;
  color: #b6b6b8;
}

section#contribute > div > div .form div .rating label::after {
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 2.5em;
  color: #68C6F0;
  top: .5rem;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

section#contribute > div > div .form div .rating label:hover::after,
section#contribute > div > div .form div .rating label:hover ~ label::after,
section#contribute > div > div .form div .rating input:checked ~ label::after {
  opacity: 1;
}

section#contribute > div > div .form input[type="submit"] {
  display: block;
  margin: 2em 0;
  padding: 10px 50px 10px 20px;
  background-color: #00477f;
  color: white;
  font-size: 1em;
  font-weight: 500;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 1.2em;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

section#contribute > div > div .form input[type="submit"]:hover {
  background-color: #D4EFFC;
  color: #00477f;
  background-position: 92% center;
}

section#contribute > div > div .form textarea {
  display: block;
  width: 100%;
  height: 5em;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  resize: none;
  padding: 1em;
  font-size: 1em;
  outline: 2px solid white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

section#contribute > div > div .form textarea:focus:invalid {
  outline: 2px solid #DB3738;
}

section#contribute > div > div .form textarea:valid {
  outline: 2px solid #3adc2a;
}

section#reviews {
  background: #f5f5f6;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 6em;
}

section#reviews h2 {
  margin: 1.8em 0 0;
  color: #00477f;
  padding-left: 1rem;
  font-size: 1.5em;
}

section#reviews h2::after {
  display: block;
  height: 2px;
  content: '';
  border-radius: 4px 4px 0 0;
  border-bottom: 2px #DB3738 solid;
  width: 112px;
  padding-top: 0.3em;
}

section#reviews > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

section#reviews > div::-webkit-scrollbar {
  display: none;
}

section#reviews > div article {
  background-color: white;
  margin-right: 1em;
  display: inline-block;
  height: 15em;
  min-width: 18em;
  padding: 1em;
  -webkit-box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
}

section#reviews > div article:first-of-type {
  margin-left: 1em;
}

section#reviews > div article::before {
  display: block;
  height: 2px;
  content: '';
  border-radius: 4px 4px 0 0;
  border-bottom: 2px #e2e2e3 solid;
  width: 112px;
  padding-top: 1em;
}

section#reviews > div article ol {
  margin-top: 0.5em;
}

section#reviews > div article ol li {
  margin-right: 0.3em;
  padding-left: 0;
}

section#reviews > div article ol li:first-child {
  margin-left: 0;
}

section#reviews > div article header {
  padding: 0;
  margin-top: 1.8em;
  position: relative;
}

section#reviews > div article header h3 {
  color: #00477f;
  text-align: left;
  font-size: 1em;
}

section#reviews > div article header h3::after {
  display: none;
}

section#reviews > div article p {
  color: #6d6e71;
  max-width: 100%;
}

section#reviews > div article#user_review {
  -webkit-animation: add-review .5s ease-out forwards;
          animation: add-review .5s ease-out forwards;
  width: 0;
  min-width: 0;
}

section#reviews > div article#user_review::before {
  border-color: white;
}

#fix-footer {
  margin-top: 0;
}

#anchor {
  position: relative;
}

@media (min-width: 30em) {
  body > header > nav {
    background: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body > header > nav ul:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 75vw;
    max-width: 40em;
  }
  body > header > nav ul:first-child > li:first-child {
    z-index: 999;
  }
  body > header > nav ul:first-child > li:first-child div {
    padding: 1.8em 1em 1em;
  }
  body > header > nav ul:first-child > li:first-child div img {
    margin: 0;
  }
  body > header > nav ul:first-child > li:not(:first-child) {
    width: 20%;
    margin-top: 0em;
    background: white;
    -webkit-animation: none;
            animation: none;
  }
  #anchor {
    position: absolute;
    top: 70vh;
  }
  main ul {
    height: 80vh;
  }
  main ul li:first-child > div > div:first-of-type {
    margin-top: 10em;
  }
  .push-down {
    margin: -18em 0 12em !important;
  }
  #story-container section label {
    text-align: right;
  }
}

@media (min-width: 40em) {
  body > section:first-of-type {
    margin-top: -8em;
    z-index: 2;
  }
  body > section:first-of-type h2 {
    color: white;
  }
  section#credits > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section#contribute > div > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section#contribute > div > div .form {
    margin-top: -7.3em;
    padding: 10.85em 1rem 1rem;
  }
  main ul li:first-child > div > div {
    margin-top: 0em;
  }
}

@media (min-width: 82em) {
  body > header > nav > div ul:first-of-type > li:first-child div {
    padding-left: calc(7% + 1em);
  }
  body > header > nav ul#breadcrumb {
    padding-left: 7%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body > section:first-of-type h2 {
    padding-left: 7%;
  }
  body > section:first-of-type ol li:first-child {
    padding-left: 7%;
  }
  body > section:last-of-type h2 {
    padding-left: 7%;
  }
  body > section:last-of-type > ol > li:first-child {
    padding-left: 7%;
  }
  main > ul > li:last-child {
    padding-left: 7%;
  }
  body > footer {
    padding-left: calc(7% + 1rem);
    padding-right: calc(7% + 1rem);
    background-position: calc(93% - 1rem);
  }
  section#credits h2 {
    padding-left: 7%;
  }
  section#credits article:first-of-type {
    padding-left: 7%;
  }
  section#reviews h2 {
    padding-left: calc(7% + 1rem);
  }
  section#reviews article:first-of-type {
    margin-left: calc(7% + 1em) !important;
  }
  #story-container {
    padding: 12em 8% 8em;
  }
  #story-container button {
    right: 8%;
  }
  #story-container section {
    padding: 2em 8%;
  }
  #story-container section label {
    padding: 2em 8% 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  66% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  66% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes show {
  0% {
    margin-top: -10em;
  }
  50% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 0em;
  }
}

@keyframes show {
  0% {
    margin-top: -10em;
  }
  50% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 0em;
  }
}

@-webkit-keyframes backdrop {
  0% {
    background-image: none;
    background-position: 90% 65%;
  }
  15% {
    background-image: url("../images/stories/lost.jpg");
    background-repeat: no-repeat;
    background-position: 88% 70%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: none;
  }
}

@keyframes backdrop {
  0% {
    background-image: none;
    background-position: 90% 65%;
  }
  15% {
    background-image: url("../images/stories/lost.jpg");
    background-repeat: no-repeat;
    background-position: 88% 70%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: none;
  }
}

@-webkit-keyframes transform-dot {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 0.5em;
    height: 0.5em;
  }
  100% {
    width: 0.3em;
    height: 5em;
  }
}

@keyframes transform-dot {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 0.5em;
    height: 0.5em;
  }
  100% {
    width: 0.3em;
    height: 5em;
  }
}

@-webkit-keyframes transform-title-2 {
  0% {
    border-radius: 50%;
  }
  1% {
    border-radius: 0;
  }
  11% {
    border-radius: 0;
  }
  12% {
    border-radius: 50%;
    border-color: white;
    background: none;
  }
  60% {
    border-radius: 50%;
    border-color: white;
    background: none;
  }
  61% {
    border-radius: 0;
    border-color: transparent;
    background: white;
  }
  65% {
    border-radius: 50%;
  }
  100% {
    border-radius: 50%;
  }
}

@keyframes transform-title-2 {
  0% {
    border-radius: 50%;
  }
  1% {
    border-radius: 0;
  }
  11% {
    border-radius: 0;
  }
  12% {
    border-radius: 50%;
    border-color: white;
    background: none;
  }
  60% {
    border-radius: 50%;
    border-color: white;
    background: none;
  }
  61% {
    border-radius: 0;
    border-color: transparent;
    background: white;
  }
  65% {
    border-radius: 50%;
  }
  100% {
    border-radius: 50%;
  }
}

@-webkit-keyframes transform-title-3 {
  81% {
    color: white;
  }
  82% {
    color: black;
  }
  88% {
    color: white;
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  89% {
    -webkit-transform: skewY(20deg);
            transform: skewY(20deg);
  }
  95% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes transform-title-3 {
  81% {
    color: white;
  }
  82% {
    color: black;
  }
  88% {
    color: white;
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  89% {
    -webkit-transform: skewY(20deg);
            transform: skewY(20deg);
  }
  95% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes transform-title-4 {
  28% {
    color: white;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  29% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  45% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  76% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  77% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes transform-title-4 {
  28% {
    color: white;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  29% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  45% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  76% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  77% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes add-review {
  100% {
    min-width: 18rem;
    background-color: #FFDB00;
  }
}

@keyframes add-review {
  100% {
    min-width: 18rem;
    background-color: #FFDB00;
  }
}
/*# sourceMappingURL=main.css.map */