@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: 500;
}

html {
  height: 100%;
}

body {
  margin: 0 0 -50px;
  background-color: #f5f5f6;
  font-family: "SourceSansPro", "Arial", sans-serif;
  color: #231f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

a {
  color: #18477B;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #00477f;
  font-weight: 500;
}

h1 {
  display: none;
}

ul, ol {
  list-style-type: none;
}

.text-active {
  font-size: 1.5em !important;
  opacity: 0.8 !important;
  color: white !important;
}

.push-down {
  margin: 1.8em 0 12em !important;
}

body > header > nav {
  width: 100%;
  font-size: 0.8em;
  -webkit-box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 1px 20px 0 rgba(35, 31, 32, 0.1);
  position: fixed;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 999;
}

body > header > nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

body > header > nav ul > li:first-child {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

body > header > nav ul > li:first-child div {
  padding: 2.1em 0 1em;
}

body > header > nav ul > li:first-child div img {
  display: block;
  height: 1.7em;
  width: initial;
  z-index: 1;
  margin: 0 auto;
}

body > header > nav ul > li:not(:first-child) {
  display: block;
  width: 25%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  padding: 1em 0;
  margin-top: -10em;
  background: white;
  -webkit-animation: show 1s ease-out forwards;
          animation: show 1s ease-out forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

body > header > nav ul > li:not(:first-child) a {
  display: block;
  padding: 2.2em 0 0;
  background-position: center top;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body > header > nav ul > li:not(:first-child) a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body > header > nav ul > li:not(:first-child) img {
  width: 2em;
  height: 2em;
}

body > header > nav ul li:nth-child(2) a {
  background-image: url("../images/icons/book.svg");
}

body > header > nav ul li:nth-child(3) a {
  background-image: url("../images/icons/search.svg");
}

body > header > nav ul li:nth-child(4) a {
  background-image: url("../images/icons/read.svg");
}

body > header > nav ul li:nth-child(5) a {
  background-image: url("../images/icons/account.svg");
}

body > footer {
  margin-top: 6em;
  background-color: white;
  padding: 1.8em 1em 2em;
}

body > footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > footer div ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.3em;
}

body > footer div ul li {
  padding-bottom: 0.5em;
}

.align-icon {
  margin-bottom: -0.1em;
}

.align-arrow {
  margin-bottom: -0.2em;
}

main > ul {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-overflow-scrolling: touch;
  background: #231f20;
  -webkit-animation: backdrop 15s ease-in-out forwards infinite;
          animation: backdrop 15s ease-in-out forwards infinite;
  -webkit-transition: .2s;
  transition: .2s;
}

main > ul::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  z-index: 1;
}

main > ul > li:first-child {
  position: relative;
  width: 100%;
  height: 100vh;
}

main > ul > li:first-child > div {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > ul > li:first-child > div > div {
  padding: 0.5em;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 998;
}

main > ul > li:first-child > div > div > button {
  padding: 0.2em;
  background: transparent;
  border: none;
  outline: 0;
  color: #68C6F0;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1em;
  opacity: 0.5;
  cursor: pointer;
}

main > ul > li:first-child > div > div > button:last-child {
  padding-bottom: 0;
}

main > ul > li:first-child > div:first-child article {
  position: relative;
}

main > ul > li:first-child > div:first-child article header {
  position: relative;
  text-align: center;
  width: 100%;
  height: 15em;
  z-index: 2;
}

main > ul > li:first-child > div:first-child article header h2 {
  text-transform: uppercase;
  color: white;
  font-size: 3em;
  letter-spacing: 0.3em;
  margin: 0 0 1.2em;
}

main > ul > li:first-child > div:first-child article header h2 span {
  display: inline-block;
}

main > ul > li:first-child > div:first-child article header h2 span:nth-of-type(2) {
  width: 0.75em;
  height: 0.75em;
  margin: 0 0.15em;
  background: white;
  color: transparent;
  border-radius: 50%;
  -webkit-transform: translate(-22%, 35%);
          transform: translate(-22%, 35%);
  animation: transform 15s ease-in-out alternate-reverse infinite;
}

main > ul > li:first-child > div:first-child article header p {
  color: #68C6F0;
}

main > ul > li:first-child > div:first-child article header a {
  margin-top: 1em;
  display: inline-block;
  color: #00477f;
  padding: 10px 50px 10px 20px;
  background-color: white;
  border-radius: 4px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 1.2em;
  -webkit-transition: all .2s;
  transition: all .2s;
}

main > ul > li:first-child > div:first-child article header a:hover {
  background-color: #D4EFFC;
  background-position: 92% center;
}

main > ul > li:first-child > div:first-child article div#story-preview {
  position: absolute;
  z-index: 1;
  top: -8.8em;
  width: 100%;
  height: 80vh;
}

main > ul > li:first-child > div:first-child article div#story-preview div.bar {
  position: absolute;
  background: white;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: spin 10s ease-in-out forwards infinite, transform-dot 3s ease-in-out forwards infinite;
          animation: spin 10s ease-in-out forwards infinite, transform-dot 3s ease-in-out forwards infinite;
}

main > ul > li:first-child > div:first-child article div#story-preview div#b1 {
  top: 10%;
  left: 20%;
  animation-direction: alternate-reverse;
}

main > ul > li:first-child > div:first-child article div#story-preview div#b2 {
  top: 10%;
  left: 40%;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

main > ul > li:first-child > div:first-child article div#story-preview div#b3 {
  top: 10%;
  left: 60%;
  animation-direction: reverse;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

main > ul > li:first-child > div:first-child article div#story-preview div#b4 {
  top: 10%;
  left: 80%;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

main > ul > li:first-child > div:first-child article div#story-preview div#b5 {
  top: 70%;
  left: 20%;
  animation-direction: reverse;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main > ul > li:first-child > div:first-child article div#story-preview div#b6 {
  top: 70%;
  left: 40%;
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

main > ul > li:first-child > div:first-child article div#story-preview div#b7 {
  top: 70%;
  left: 60%;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

main > ul > li:first-child > div:first-child article div#story-preview div#b8 {
  top: 70%;
  left: 80%;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

main > ul > li:last-child {
  position: relative;
  width: 100%;
  padding-top: 12em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#231f20), color-stop(40%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(#231f20 0%, rgba(0, 0, 0, 0) 40%);
  min-height: 25em;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main > ul > li:last-child::-webkit-scrollbar {
  display: none;
}

main > ul > li:last-child article {
  margin-right: 1em;
  display: inline-block;
}

main > ul > li:last-child article > h2 {
  color: white;
  font-size: 1.2em;
}

main > ul > li:last-child article > h2::after {
  display: block;
  height: 2px;
  margin: 0.3em 0 0;
  content: '';
  border-bottom: 2px #DB3738 solid;
  width: 112px;
  padding-top: 0.2em;
}

main > ul > li:last-child article:first-child {
  margin-left: 1em;
}

main > ul > li:last-child article:last-child {
  margin-right: 1em;
}

section {
  position: relative;
  width: 100%;
}

section ol {
  margin: 1em 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch;
}

section ol::-webkit-scrollbar {
  display: none;
}

section ol li {
  margin-right: 1em;
}

section ol li:first-child {
  margin-left: 1em;
}

section ol li:last-child {
  margin-right: 1em;
}

section h2 {
  font-size: 1.2em;
  border-radius: 4px 4px 0 0;
  margin: 1.8em 1em 1em;
  margin-top: 1.8em;
}

section h2::after {
  display: block;
  height: 2px;
  margin: 0.3em 0 1em;
  content: '';
  width: 112px;
  padding-top: 0.2em;
}

section article {
  position: relative;
  border-radius: 4px;
  width: 18rem;
}

section article a > img {
  height: 10em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

section article header {
  padding: 1em 1em;
  position: absolute;
}

section article header h3 {
  margin: 0;
  max-width: 15em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
}

section:first-of-type {
  margin-top: 1em;
  z-index: 2;
}

section:first-of-type h2::after {
  border-bottom: 2px #68C6F0 solid;
}

section:nth-of-type(2) h2 {
  color: #00477f;
}

section:nth-of-type(2) h2::after {
  border-bottom: 2px #68C6F0 solid;
}

section:nth-of-type(2) ol {
  margin: 0;
  padding: 0;
}

section:nth-of-type(2) ol li ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav-up {
  top: -50px !important;
}

.list-styled {
  list-style-image: url("../images/icons/arrow.svg");
}

article.tile {
  position: relative;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  min-height: 26em;
  width: 18em;
}

article.tile > a > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 22em;
  border-radius: 4px 4px 0 0;
  z-index: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

article.tile > a::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px 4px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 22em;
  background: -webkit-gradient(linear, left top, left bottom, from(#009ddb), to(rgba(0, 71, 127, 0)));
  background: linear-gradient(#009ddb, rgba(0, 71, 127, 0));
  z-index: 0;
}

article.tile > a > div {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 1em;
}

article.tile > a > div p {
  position: relative;
  margin: 0;
  color: white;
  white-space: normal;
  z-index: 1;
}

article.tile > a > div header {
  position: relative;
  z-index: 2;
  margin-top: -0.2em;
}

article.tile > a > div header h3 {
  margin: 0;
  padding: 1em 0;
  color: white;
  font-size: 1.2em;
}

article.tile > a > div header h3::after {
  display: block;
  height: 2px;
  content: '';
  border-radius: 4px 4px 0 0;
  border-bottom: 2px #DB3738 solid;
  width: 112px;
  padding-top: 1em;
  margin: 0 auto;
}

article.tile > a footer {
  position: relative;
  padding: 1em;
  background-color: white;
  border-radius: 0 0 4px 4px;
  margin-top: -0.3em;
}

article.tile > a footer span {
  font-size: 0.8em;
  color: #6D6E71;
}

article.tile > a footer ol {
  width: 75%;
  margin: 0 auto;
  padding: 0;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article.tile > a footer ol li {
  margin: 0 0.2em;
}

article.tile > a footer ol li img {
  width: 1.2em;
}

article.tile > a footer button {
  position: absolute;
  top: -1.8em;
  right: 1.5em;
  border: none;
  border-radius: 50%;
  background-color: #68C6F0;
  height: 3.2em;
  width: 3.2em;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

article.tile > a footer button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

article.tile > a footer button img {
  width: 1.2em;
  padding-top: 0.6em;
}

article.tile--compact {
  min-height: 10em;
}

article.tile--compact > h2 {
  position: absolute;
  top: -3.5em;
}

article.tile--compact > a > img {
  height: 10em;
}

article.tile--compact > a::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px 4px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 10em;
  background: -webkit-gradient(linear, left top, left bottom, from(#009ddb), to(rgba(0, 71, 127, 0)));
  background: linear-gradient(#009ddb, rgba(0, 71, 127, 0));
  z-index: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  66% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  66% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes show {
  0% {
    margin-top: -10em;
  }
  50% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 0em;
  }
}

@keyframes show {
  0% {
    margin-top: -10em;
  }
  50% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 0em;
  }
}

@-webkit-keyframes backdrop {
  0% {
    background-image: none;
    background-position: 90% 65%;
  }
  15% {
    background-image: url("../images/stories/lost.jpg");
    background-repeat: no-repeat;
    background-position: 88% 70%;
    background-repeat: none;
    background-size: cover;
  }
  100% {
    background-image: none;
  }
}

@keyframes backdrop {
  0% {
    background-image: none;
    background-position: 90% 65%;
  }
  15% {
    background-image: url("../images/stories/lost.jpg");
    background-repeat: no-repeat;
    background-position: 88% 70%;
    background-repeat: none;
    background-size: cover;
  }
  100% {
    background-image: none;
  }
}

@-webkit-keyframes transform-dot {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 0.5em;
    height: 0.5em;
  }
  100% {
    width: 0.3em;
    height: 5em;
  }
}

@keyframes transform-dot {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 0.5em;
    height: 0.5em;
  }
  100% {
    width: 0.3em;
    height: 5em;
  }
}

@-webkit-keyframes transform {
  0% {
    border-radius: 50%;
  }
  1% {
    border-radius: 0;
  }
  11% {
    border-radius: 0;
  }
  12% {
    border-radius: 50%;
  }
  60% {
    border-radius: 50%;
  }
  61% {
    border-radius: 0;
  }
  65% {
    border-radius: 50%;
  }
  100% {
    border-radius: 50%;
  }
}

@keyframes transform {
  0% {
    border-radius: 50%;
  }
  1% {
    border-radius: 0;
  }
  11% {
    border-radius: 0;
  }
  12% {
    border-radius: 50%;
  }
  60% {
    border-radius: 50%;
  }
  61% {
    border-radius: 0;
  }
  65% {
    border-radius: 50%;
  }
  100% {
    border-radius: 50%;
  }
}
/*# sourceMappingURL=main.css.map */